/* .content{
    height: calc(100vh - 230px);
    min-height: fit-content;
} */
h2{
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
    margin: 50px 0;
}

.user{
    width: 100%;
}

.user .form-field{
    display: flex;
    width: 60%;
    margin: 20px auto;
}
.user .form-field label{
    width: 40%;
}

.user .form-field input{
    width: 60%;
    height: 40px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid var(--theme-color);
}

.user .form-field input:focus{
    border: 1px solid var(--theme-color);
}

.form-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.forgotpw{
    width: 60%;
    margin: 20px auto 0;
    display: block;
    font-style: italic;
    font-size: 0.8em;
    opacity: 0.8;
}