.cart-item-list{
    width: 100%;
    padding: 20px;
}

.cart-item{
    display: flex;
    margin-bottom: 20px;
}

.cart-item .house-img{
    width: 30%;
    height: 300px;
    padding: 20px;
    background-image: url("../img/house2.jpg");
    background-size: cover;
    background-position: center;
}

.cart-item .house-detail{
    width: 70%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.house-detail *{
    width: 50%;
}

.house-detail .house-title{
    width: 50%;
    height: 40px;
    line-height: 40px;
    font-size: 1.5em;
    font-weight: 700;
}
.house-detail .delete-btn{
    width: 200px;
    margin: 0 20px;
    right: 0;
}

.house-detail .house-addr{
    width: 100%;
    display: block;
    height: 40;
    font-size: 0.8em;
    font-style: italic;
    /* line-height: 18px; */
    color: rgba(55, 55, 55, 1);
    text-align: left;
    margin: 20px 0px;
}
.house-detail .house-cagetory,
.house-detail .house-status,
.house-detail .renting-fee{
    width: 50%;
    margin-top: 5px;
    font-size: 0.8em;
}
.house-detail .deposit-fee{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700px;
    color: red;
}

.cart-btns{
    display: flex;
    justify-content: space-evenly;
}