h2{
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
    margin: 50px 0;
}


.form-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin: 50px;
}

.img-picker{
    width: 30%;
}

.house-detail{
    width: 50%;
}

.house-desc{
    width: 80%;
}

.service-selector{
    width: 100%;
    padding: 100px;
}

.form-field{
    display: flex;
    width: 80%;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-field label{
    width: 40%;
}

.form-field input,
.form-field select{
    width: 60%;
    height: 40px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid var(--theme-color);
}

.form-field select{
    width: 60%;
    height: 40px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid var(--theme-color);
}

.house-desc label{
    width: 20%;
}

.house-desc textarea{
    width: 80%;
    border: 1px solid var(--theme-color);
}
.addr-label{
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#available{
    width: 15%;
}